@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form class="form-inline  inline-block" id="form-search" data-page="CustomerPageView">
        <div class="form-group">
            <label for="Name">名称</label>
            <input type="text" class="form-control input-search" name="Name" id="Name">
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="button" data-fromid="form-search" class="btn btn-primary btn-page">
                    <i class="icon-search"></i>
                    查询
                </button>
                <a class="btn btn-success" href="CustomerAddView">
                    <i class="icon-plus"></i>
                    新增客户
                </a>
                <a class="btn btn-success" href="/CustomerProperty/CustomerPropertyView">
                    <i class="icon-plus"></i>
                    客户属性设置
                </a>
            </div>
        </div>
    </form>
    <div id="table-container"></div>
    <div>
        <ul class="pagination" id="pagination-container"></ul>
    </div>
</div>
