@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form class="form-inline  inline-block" id="form-search" data-page="CustomerPageView">
        <div class="form-group">
            <label for="Name">名称</label>
            <input type="text" class="form-control" id="Name">
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="button" data-fromid="form-search" class="btn btn-primary btn-page">
                    <i class="icon-search"></i>
                    查询
                </button>
                <a class="btn btn-success" href="GoodsAddView">
                    <i class="icon-plus"></i>
                    新增物品
                </a>
                <a class="btn btn-success" href="GoodsCategoryView">
                    <i class="icon-plus"></i>
                    物品类别设置
                </a>
                <a class="btn btn-success" href="/GoodsProperty/GoodsPropertyView">
                    <i class="icon-plus"></i>
                    物品属性设置
                </a>
            </div>
        </div>
    </form>
    <div class="table-container"></div>
    <div id="pagination-container">
    
    </div>
</div>
